.toolBox__root {
  display: flex;
  margin-left: 7%;
  margin-top: 10%;

  .toolBox__section1 {
    flex-basis: 60%;
    margin-top: 10%;

    h1 {
      font-weight: 700;
      font-size: 60px;
      color: #fafafa;
    }
    .toolBox__intro {
      display: flex;
      gap: 20px;
      margin-top: 1.3%;
      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 232.5%;
        color: #fafafa;
        max-width: 600px;
      }
    }
    .toolBox__logo {
      margin-top: 10%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20% 4%;
      justify-items: center;
    }
  }
  .toolBox__section2 {
    flex-basis: 40%;
  }
}
