.section-process {
  margin-top: 10%;
  @media (min-width: 0px) and (max-width: 992px) {
    margin-top: 30%;
  }
  h1 {
    font-weight: 700;
    font-size: 60px;
    color: #fafafa;
    text-align: center;
    @media (min-width: 0px) and (max-width: 992px) {
      font-size: 32px;
    }
  }
  p:nth-child(2) {
    font-weight: 400;
    font-size: 16px;
    line-height: 232.5%;
    text-align: center;
    color: #fafafa;
    margin: 0 15% 0 15%;
    @media (min-width: 0px) and (max-width: 992px) {
      font-size: 14px;
    }
  }
  p:nth-child(3) {
    font-weight: 400;
    font-size: 16px;
    line-height: 232.5%;
    text-align: center;
    color: #fafafa;
    margin: 5% 15% 0 15%;
    @media (min-width: 0px) and (max-width: 992px) {
      font-size: 14px;
    }
  }

  .lines__diagram {
    position: relative;
    margin-top: 5%;
    @media (min-width: 0px) and (max-width: 992px) {
      width: 351px;
      height: 72px;
    }
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      @media (min-width: 0px) and (max-width: 520px) {
        width: 351px;
        height: 72px;
        margin-left: 5%;
      }

      @media (min-width: 520px) and (max-width: 726px) {
        width: 351px;
        height: 72px;
        margin-left: 35%;
      }
      @media (min-width: 726px) and (max-width: 992px) {
        width: 551px;
        height: 150px;
        margin-left: 35%;
      }
    }
  }
}
